<div class="container">
  <div class="text-center">
    <table class="table table-hover">
      <thead class="thead-inverse">
        <tr>
          <th>ردیف</th>
          <th>عنوان</th>
          <th>عملیات</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles ;let index = index">
          <td scope="row">{{index+1}}</td>
          <td>{{ article.title }}</td>
          <td>
            <a href="" class="btn btn-info mx-1">جزئیات</a> |
            <a href="" class="btn btn-secondary mx-1">ویرایش</a>
            <button type="button" class="btn btn-danger mx-1" (click)="del(article.id)">حذف</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
