 ul.imgs {
   width: 100%;
   padding: 10px;
   display: flex;
   flex-flow: row wrap;
   justify-content: flex-end;
   align-content: space-around;
   align-items: center;
   background: #eee;
   border: 2px dashed #bdbdbd;
 }

 ul.imgs li {
   cursor: pointer;
   padding: 1px;
   margin: auto 16px;
   border: 1px dashed transparent;
 }

 ul.imgs li:hover {
   border-color: violet;
 }
