<form #editArticle="ngForm" [formGroup]="editArticleForm" class="col-md-12 my-5" dir="rtl" id="edit-article" novalidate
  (ngSubmit)="onEditArticle(article.id)" enctype="multipart/form-data">
  <mat-form-field>
    <input type="text" matInput formControlName="title" [(ngModel)]="title" value="{{article.title}}">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput formControlName="desc" [(ngModel)]="desc" maxlength="100" #tarea
      [value]="article.desc"></textarea>
    <mat-hint>{{tarea.value?.length || 0}}/20</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>وضعيت انتشار</mat-label>
    <mat-select formControlName="submitted" [(ngModel)]="submitted">
      <mat-option value="false" disabled>---</mat-option>
      <mat-option value="1">منتشر شده</mat-option>
      <mat-option value="0">منتشر نشده</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>علاقه مندی</mat-label>
    <mat-select [(ngModel)]="isfavorite" formControlName="isfavorite">
      <mat-option value="false" disabled>---</mat-option>
      <mat-option value="1">هست</mat-option>
      <mat-option value="0">نیست</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>دسته بندی</mat-label>
    <mat-select [(ngModel)]="category_id" formControlName="category_id">
      <mat-option *ngFor="let cat of categories" value="{{ cat.id }}">{{ cat.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput placeholder="لینک تصویر" [(ngModel)]="image" formControlName="image">
  </mat-form-field>

  <div class="form-group">
    <button type="submit" class="form-control" mat-flat-button color="accent" name="arc_submit">ویرایش
    </button>
  </div>
</form>
