<!-- content-Start -->
<div class="container">
  <section class="panel_content">
    <h5 class="panelTitle">ویرایش مقاله</h5>
    <hr>
    <div class="row">
      <div class="formAdd" *ngIf="loaded">
        <form #editArticle="ngForm" [formGroup]="editArticleForm" class="form-row p-3 bg-light" dir="rtl" id="edit-article" novalidate
              (ngSubmit)="onEditArticle(article.id)" enctype="multipart/form-data">

          <div class="form-group required col-md-6 mt-3">
            <label class="mainLabel" for="title">عنوان</label>
            <input class="form-control" type="text" id="title" value="{{article.title}}"
                   name="title" [(ngModel)]="title" formControlName="title">
            <div *ngIf="editArticleForm.controls['title'].invalid &&
             (editArticleForm.controls['title'].dirty || editArticleForm.controls['title'].touched)">
              <small class="text-danger pull-right p-1" *ngIf="editArticleForm.controls['title'].errors.required">
                فيلد نام را تکميل کنيد.
              </small>
            </div>
          </div>

          <div class="form-group col-md-6 mt-3">
            <label class="mainLabel" for="image">لینک تصویر</label>
            <input class="form-control" type="text" id="image" value="{{ article.image }}"
                   [(ngModel)]="image" name="image" formControlName="image" disabled>
            <a mat-flat-button color="primary" id="get_image_src" (click)="openDialog()">دریافت لینک</a>
            <a mat-flat-button color="warn" id="remove_image_src"
               onclick="remove_src()" (click)="removeImageSrc()">حذف لینک</a>
          </div>

          <div class="form-group required col-md-4 mt-3">
            <label class="mainLabel" for="submitted">وضعیت انتشار</label>
            <select class="form-control" id="submitted" value="article.submitted"
                    name="submitted" formControlName="submitted" [(ngModel)]="submitted">
              <option value="false" disabled>---</option>
              <option value="1" [selected]="article.submitted == 1">منتشر شده</option>
              <option value="0" [selected]="article.submitted == 0">منتشر نشده</option>
            </select>
            <div *ngIf="editArticleForm.controls['submitted'].invalid &&
             (editArticleForm.controls['submitted'].dirty || editArticleForm.controls['submitted'].touched)">
              <small class="text-danger pull-right p-1" *ngIf="editArticleForm.controls['submitted'].errors.required">
                یک مورد انتخاب کنید.
              </small>
            </div>
          </div>

          <div class="form-group required col-md-4 mt-3">
            <label class="mainLabel" for="isfavorite">علاقه مندی</label>
            <select class="form-control" id="isfavorite"
                    name="isfavorite" formControlName="isfavorite" [(ngModel)]="isfavorite">
              <option disabled selected>---</option>
              <option value="1" [selected]="article.isfavorite == 1 ">هست</option>
              <option value="0" [selected]="article.isfavorite == 0 ">نيست</option>
            </select>
            <div *ngIf="editArticleForm.controls['isfavorite'].invalid &&
             (editArticleForm.controls['isfavorite'].dirty || editArticleForm.controls['isfavorite'].touched)">
              <small class="text-danger pull-right p-1" *ngIf="editArticleForm.controls['isfavorite'].errors.required">
                یک مورد انتخاب کنید.
              </small>
            </div>
          </div>

          <div class="form-group required col-md-4 mt-3">
            <label class="mainLabel" for="category_id">دسته بندی</label>
            <select class="form-control" id="category_id"
                    name="category_id" formControlName="category_id" [(ngModel)]="category_id">
              <option *ngFor="let cat of categories" value="{{ cat.id }}"
                      [selected]=" cat.id === article.category_id ">
                {{ cat.name }}
              </option>
            </select>

            <div *ngIf="editArticleForm.controls['category_id'].invalid &&
             (editArticleForm.controls['category_id'].dirty || editArticleForm.controls['category_id'].touched)">
              <small class="text-danger pull-right p-1" *ngIf="editArticleForm.controls['category_id'].errors.required">
                یک مورد انتخاب کنید.
              </small>
            </div>
          </div>


          <div class="form-group required col-md-12 mt-3">
            <label class="mainLabel" for="desc">توضیحات</label>
            <textarea class="form-control" id="desc" [value]="article.desc" rows="5"
                      #tarea formControlName="desc" [(ngModel)]="desc" name="desc" maxlength="1500">{{ article.desc }}</textarea>
            <span>{{ tarea.value?.length || 0 }}/1000</span>
            <div *ngIf="editArticleForm.controls['desc'].invalid &&
             (editArticleForm.controls['desc'].dirty || editArticleForm.controls['desc'].touched)">
              <small class="text-danger pull-right p-1" *ngIf="editArticleForm.controls['desc'].errors.maxlength">
                طول مجاز رعايت نشده است.
              </small>
              <small class="text-danger pull-right p-1" *ngIf="editArticleForm.controls['desc'].errors.required">
                فيلد توضيحات را تکميل کنيد.
              </small>
            </div>
          </div>
          

          <div class="form-group col-12 my-3">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored bg-secondary w-25"
                   (click)="Editpressed()" >ویرایش</button>
          </div>
        </form>
      </div>

      <div *ngIf="! loaded">
        <p><i class="fa fa-spinner fa-spin"></i></p>
      </div>
    </div>
  </section>
</div>
<!-- content-End -->


