
<div class="container" *ngIf="snackType == 'add_article' ">
  <p>مقاله با موفقیت اضافه شد</p>
  <!--<button type="button" class="close mx-2" aria-label="Close">-->
    <!--<span aria-hidden="true" style="color: #eeeeee">&times;</span>-->
  <!--</button>-->
</div>

<div class="container" *ngIf="snackType == 'login_success' ">
  <p>خوش آمدید</p>
</div>

<div class="container" *ngIf="snackType == 'ep_success' ">
  <p>مشخصات با موفقیت تغییر یافت</p>
</div>

<div class="container" *ngIf="snackType == 'add_category' ">
  <p>دسته بندی جدید ایجاد شد.</p>
</div>
