<!-- content-Start -->
<section class="main_content">
  <div class="container-fluid">
    <div class="row">
      <div style="width: 80%;margin:auto 10%;">
        <div class="card text-center">
          <div class="card-header">
            <h5>ثبت نام</h5>
          </div>
          <div class="card-body">
            <div class="formAdd">
              <form #regForm="ngForm" id="regForm" action="#" class="form-control" method="post" style="border:none;"
                novalidate [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">

                <div class="alert alert-danger" *ngIf="errorMessage != undefined">
                  {{ errorMessage }}
                </div>
                <br>

                <div class="d-flex flex-wrap justify-content-center">
                  <div class="input-group my-4 mr-sm-2 w-50">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="material-icons">person</i>
                      </div>
                    </div>
                    <input type="text" class="form-control" placeholder="نام*" formControlName="name"
                           [ngClass]="{'is-invalid': registerForm.controls['name'].invalid &&
(registerForm.controls['name'].dirty || registerForm.controls['name'].touched)}">

                    <div class="errors w-100 p-2"
                         *ngIf="registerForm.controls['name'].invalid &&
(registerForm.controls['name'].dirty || registerForm.controls['name'].touched)">
                      <small class="float-right text-danger" *ngIf="registerForm.controls['name'].errors.required">
                        فیلد نام را تکمیل کنید.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-wrap justify-content-center">
                  <div class="input-group my-4 mr-sm-2 w-50">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="material-icons">email</i>
                      </div>
                    </div>
                    <input type="email" class="form-control" placeholder="ایمیل*" formControlName="email"
                           [ngClass]="{'is-invalid': registerForm.controls['email'].invalid &&
(registerForm.controls['email'].dirty || registerForm.controls['email'].touched)}">

                    <div class="errors w-100 p-2" *ngIf="registerForm.controls['email'].invalid &&
                (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
                      <small class="float-right text-danger" *ngIf="registerForm.controls['email'].errors.required">
                        فیلد ایمیل را تکمیل کنید.
                      </small><br>
                      <small class="float-right text-danger" *ngIf="registerForm.controls['email'].errors.email">
                        ایمیل معتبر نیست.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-wrap justify-content-center">
                  <div class="input-group my-4 mr-sm-2 w-50">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="material-icons">vpn_key</i>
                      </div>
                    </div>
                    <input type="password" class="form-control" placeholder="رمز عبور*" formControlName="password"
                           [ngClass]="{'is-invalid': registerForm.controls['password'].invalid &&
(registerForm.controls['password'].dirty || registerForm.controls['password'].touched)}">

                    <div class="errors w-100 p-2" *ngIf="registerForm.controls['password'].invalid &&
              (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
                      <small class="float-right text-danger" *ngIf="registerForm.controls['password'].errors.minlength">
                        طول مجاز پسورد رعایت نشده است.
                      </small>
                      <small class="float-right text-danger" *ngIf="registerForm.controls['password'].errors.required">
                        پسورد را وارد کنید.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-wrap justify-content-center">
                  <div class="input-group my-4 mr-sm-2 w-50">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="material-icons">vpn_key</i>
                      </div>
                    </div>
                    <input type="password" class="form-control" placeholder="تکرار رمز عبور*"
                      formControlName="password_confirmation" [ngClass]="{'is-invalid': registerForm.controls['password_confirmation'].invalid &&
(registerForm.controls['password_confirmation'].dirty || registerForm.controls['password_confirmation'].touched)}">
                    <div class="errors w-100 p-2"
                      *ngIf="registerForm.controls['password_confirmation'].invalid &&
            (registerForm.controls['password_confirmation'].dirty || registerForm.controls['password_confirmation'].touched)">
                      <small class="float-right text-danger" *ngIf="registerForm.controls['password_confirmation'].errors.required">
                        پسورد را مجددا وارد کنید.
                      </small>
                    </div>
                    <small class="w-100 p-2 text-right text-danger" [hidden]="!registerForm.hasError('mismatchpassword')">
                      پسوردها مطابقت ندارند!
                    </small>

                  </div>
                </div>
                <input type="submit" value="ثبت نام" class="btn btn-primary w-50 my-4"
                  [disabled]="registerForm.pristine || registerForm.invalid">
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- content-End -->
