<!-- content-Start -->
<section class="article_content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-sm-12" *ngIf="articles?.length > 0 && loaded">
        <div *ngFor="let article of articles" [@articleAnimation]="articles.length">
          <div class="card article" *ngIf="article.submitted==true">
            <div class="card-header">
              <h5>{{article.title | uppercase}}</h5>
            </div>
            <div class="card-body">
              <a routerLink="/article/{{article.id}}">
                <img class="article_mainPhoto" src="{{article.image}}">
              </a>
              <p class="card-text text-justify">
                {{article.desc | slice:0:30}} ---
              </p>
            </div>
            <div class="card-footer">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <i class="material-icons">account_box</i><span>{{ article.user['name'] }}</span>
                </li>
                <li class="list-inline-item">
                  <i class="material-icons">visibility</i><span>21</span>
                </li>
                <li class="list-inline-item">
                  <i class="material-icons">date_range</i><span>{{article.created_at | date:'longDate'}}</span>
                </li>
                <li class="list-inline-item">
                  <i class="material-icons" [articlefav]="article.isfavorite"
                    aria-hidden="false">favorite_border</i><span>33</span>
                </li>
              </ul>
              <span class="more">
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary"
                  routerLink="/article/{{article.id}}">ادامه
                  مطلب
                </a>
              </span>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <app-pagination [pager]="pager"></app-pagination>
        </div>


      </div>

      <div class="col-md-8 col-sm-12" *ngIf="articles?.length == 0 && loaded">
        <div class="alert alert-danger">
          <span>مطلبی برای نمایش وجود ندارد!</span>
        </div>
      </div>

      <div class="col-md-8 col-sm-12" *ngIf="!loaded">
       در حال دریافت اطلاعات ...
      </div>


      <div class="col-md-4 col-sm-12">
        <aside>
          <div class="card">
            <div class="card-header">
              <h6><i class="material-icons align-middle">list</i>دسته بندی ها </h6>
            </div>
            <div class="card-body">
              <div class="text-center text-muted">
                <span *ngIf="! loaded">
                در حال بارگذاری<i class="fa fa-refresh fa-spin mx-1"></i>
              </span>
              </div>

              <ul class="category" id="indexCats" *ngIf="loaded && categories?.length>0">
                <p class="mb-3" *ngFor="let category of categories ; let index=index">
                  <span *ngIf="category.parent_id == 0">
                    <a href="#Section{{ index }}" data-toggle="collapse" class="cat-header"
                      aria-expanded="false">{{ category.name }}
                    </a>
                    <li id="Section{{ index }}" class="collapse mr-4" data-parent="#indexCats">
                      <ul>
                        <li *ngFor="let subcat of categories">
                          <a routerLink="/category/{{ subcat.id }}/page/1" *ngIf="subcat.parent_id == category.id"
                            class="cat-item"><span>{{ subcat.name }}</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </span>
                </p>
              </ul>
            </div>
          </div>
        </aside>
      </div>
    </div>

  </div>
</section>
<!-- content-End -->
