<!-- navbar -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span style="flex: 1 1 auto;">
      <ul class="toolbar-items">
        <a routerLink="/home" class="toolbar-item" routerLinkActive="active"
          [routerLinkActiveOptions]="{exatct : true}">
          <li>خانه</li>
        </a>
        <a routerLink="/articles/page/1" class="toolbar-item" routerLinkActive="active">
          <li>مقالات</li>
        </a>
      </ul>
    </span>

    <span class="mx-2" *ngIf="!checkLogin(); else user_template">
      <div class="btn-group" role="group">
        <a routerLink="/register" type="button" class="btn btn-success">ثبت نام</a>
        <a routerLink="/login" type="button" class="btn btn-info">ورود</a>
      </div>
    </span>
    <ng-template #user_template>
      <span class="mx-2">خوش آمدید ادمین</span>
      <ul class="toolbar-item">
        <a [matMenuTriggerFor]="menu1" class="toolbar-item">
          <li>
            <mat-icon aria-hidden="false" aria-label="">account_circle</mat-icon>
            <!--    <mat-icon class="mat-icon-rtl-mirror" aria-hidden="false" aria-label="">account_circle</mat-icon>-->
          </li>
        </a>
        <mat-menu #menu1="matMenu" xPosition="after">
          <a mat-menu-item [routerLink]="[ 'user-panel' ]">پنل کاربری</a>
          <a mat-menu-item [routerLink]="[ 'article/add' ]">افزودن مقاله</a>
          <a mat-menu-item [routerLink]="[ 'articlelist' ]">لیست مقالات</a>
          <a mat-menu-item [routerLink]="[ 'article/add' ]">افزودن دسته بندي</a>
          <a mat-menu-item [routerLink]="[ 'article/list' ]">لیست دسته بندي ها</a>
          <a mat-menu-item (click)="logout()">خروج</a>
        </mat-menu>
      </ul>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
<!-- navbar -->


<br>
<br>
<br>
<br>
<br>
<router-outlet></router-outlet>

<!--<app-articles></app-articles>-->


<!-- Footer -->
<footer id="myFooter" class=" text-white pt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="text-center mr-auto ml-auto">
        <h5 class="font-weight-bold text-uppercase mb-4">درباره سايت</h5>
        <p>آموزش برنامه نويسي و نرم افزار</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    <span>© 2018 Copyright</span>
  </div>


</footer>
<!-- Footer -->
