  <!-- Header-Start -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand mx-2">
      <img src="assets/logo.png" alt="" width="30" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"
            [routerLinkActiveOptions]="{exatct : true}">صفحه اصلي <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/articles/page/1" routerLinkActive="active">مقالات</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            دسته بندي مطالب
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">آموزش وب</a>
            <a class="dropdown-item" href="#">آموزش موبايل</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">ساير</a>
          </div>
        </li>
      </ul>

      <form method="GET" (ngSubmit)="searchArticle()" class="form-inline" id="main_search">
        <input class="form-control mr-sm-2" type="search" [(ngModel)]="query" name="query" placeholder="جستجو..."
          aria-label="Search" id="search">
        <button class="btn my-2 my-sm-0" type="submit">
          <i class="material-icons">search</i>
        </button>
      </form>

      <div class="dropdown mx-3" *ngIf="!checkLogin(); else user_template">
        <i class="material-icons dropdown-toggle" data-toggle="dropdown" id="account">vpn_key
        </i>
        <div class="dropdown-menu">
          <a routerLink="/register" class="dropdown-item">ثبت نام</a>
          <a routerLink="/login" class="dropdown-item">ورود</a>
        </div>
      </div>
      <ng-template #user_template>
        <div class="dropdown mx-3">
          <i class="material-icons dropdown-toggle" data-toggle="dropdown" id="account">account_circle
          </i>
          <div class="dropdown-menu">
            <h6 class="dropdown-header">خوش آمديد ادمين</h6>
            <a [routerLink]="[ 'user-panel' ]" class="dropdown-item">پنل مديريت</a>
          </div>
        </div>
      </ng-template>
    </div>
  </nav>
  <!-- Header-End -->

  <router-outlet></router-outlet>



  <!-- Footer-Start -->
  <footer class="text-center bg-dark">
    <div>
      <ul>
        <li><a href="#">Help</a></li>
        <li><a href="#">Privacy & Terms</a></li>
      </ul>
    </div>
  </footer>
  <!-- Footer-End -->
