<section class="article_content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div *ngIf="!loaded">در حال بارگزاری...</div>
        <div class="card article w-75" style="margin: 0 auto;" *ngIf="loaded">
          <div class="card-header">
            <h5>{{passedArticle.title}}</h5>
          </div>
          <div class="card-body">
            <img class="article_mainPhoto" src="{{passedArticle.image}}" id="main_photo">
            <p class="article_text text-justify lead">
              {{passedArticle.desc}}
            </p>
          </div>
          <div class="card-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <i class="material-icons">account_box</i><span>Admin</span>
              </li>
              <li class="list-inline-item">
                <i class="material-icons">visibility</i><span>{{passedArticle.views +1}}</span>
              </li>
              <li class="list-inline-item">
                <i class="material-icons">date_range</i><span>{{passedArticle.created_at | date}}</span>
              </li>
              <!--<li class="list-inline-item">-->
                <!--<a href="#" class="fav">-->
                  <!--<i class="material-icons" data-wow-duration="2s">favorite_border</i>-->
                <!--</a>-->
              <!--</li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<!--  Custom tooltip  -->
<div id="tooltip">
  <a class="ccopy" href="#"><i class="material-icons">content_copy</i></a>
  <a class="cshare" href="#" target="_blank"><i class="material-icons">share</i></a>
  <a class="dismiss"><i class="material-icons">close</i></a>
</div>
<p id="selTxt" class=""></p>
