form#add-article {

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  margin: 16px 10%;
  width: 80%;
}

/* form#add-article input[type=text].ng-untouched{
    border:1px solid red;
} */

form#add-article mat-form-field,
form#add-article mat-select {
  font-family: 'Samim';

}

form#add-article mat-form-field {
  width: 40%;
  margin: 16px 2%;
}

form#add-article div.form-group {
  width: 40%;
  margin: 16px 2%;
}

form#add-article button {
  width: 90%;
  margin: 16px;
}

section.errors {
  width: 60%;
  margin: 50px 20%;
  text-align: center;
  background: #eeeeee;
}

section.errors span {
  color: rgb(253, 57, 84);
  font-size: 0.875rem;
  margin: 10px auto;
  background: transparent !important;
}
