<!-- socials-Start -->
<div class="socials">
  <ul class="list">
    <li class="face" data-toggle="tooltip" data-placement="right" data-html="true"
      title="<h6>نشانی فیسبوک</h6><br><a target='_blank' href='http://www.facebook.com/share.phpv=4&src=' style='font-family: Vazir '>کلیک کنید</a>"
      data-trigger="focus">
      <a href="#">
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>
    <li class="twitter" data-toggle="tooltip" data-placement="right" data-html="true"
      title="<h6>نشانی توییتر</h6><br><a target='_blank' href='http://plus.google.com/shareurl=' style='font-family: Vazir '>کلیک کنید</a>"
      data-trigger="focus">
      <a href="#">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="gplus" data-toggle="tooltip" data-placement="right" data-html="true"
      title="<h6>نشانی گوگل پلاس</h6><br><a target='_blank' href='http://www.facebook.com/share.phpv=4&src=' style='font-family: Vazir '>کلیک کنید</a>"
      data-trigger="focus">
      <a href="#">
        <i class="fab fa-google-plus-g"></i>
      </a>
    </li>
  </ul>
</div>
<!-- socials-End -->


<!-- content-Start -->
<section class="main_content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="jumbotron text-center">
              <h3 class="typewriter">اپلیکیشن انگولار</h3>
              <a routerLink="/articles/page/1"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent my-4">مشاهده
                مقالات
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <aside>
          <div class="card">
            <div class="card-header">
              <h6><i class="material-icons align-middle">list</i>دسته بندی ها </h6>
            </div>
            <div class="card-body">
              <ul class="category" id="accordion">
                <p *ngFor="let category of categories ; let index=index">
                  <span *ngIf="category.parent_id == 0">
                    <a href="#Section{{ index }}" data-toggle="collapse" class="cat-item"><i
                        class="material-icons align-middle">chevron_left</i>
                      {{ category.name }}
                    </a>
                    <li id="Section{{ index }}" class="collapse" data-parent="#accordion">
                      <ul>
                        <li *ngFor="let subcat of categories">
                          <a routerLink="/category/{{ subcat.id }}/page/1" *ngIf="subcat.parent_id==category.id"
                            class="cat-item">{{ subcat.name }}</a>
                        </li>
                      </ul>
                    </li>
                  </span>
                </p>
              </ul>


            </div>
          </div>
        </aside>


      </div>
    </div>
  </div>
</section>
<!-- content-End -->
