<!-- content-Start -->
<div class="container">
  <section class="panel_content">
    <h5 class="panelTitle">افزودن دسته بندی</h5>
    <hr>
    <div class="row">
      <div class="formAdd">
        <form action="#" class="form-row p-3 bg-light justify-content-center" method="post">
          <div class="form-group required col-md-4">
            <label class="mainLabel" for="name">نام دسته</label>
            <input class="form-control" type="text" id="name">
          </div>
          <div class="form-group required col-md-4">
            <label class="mainLabel" for="submitted">مادر دسته</label>
            <select class="form-control" id="submitted">
              <option selected>---</option>
              <option>خبری</option>
              <option>آموزشی</option>
              <option>ویدئو</option>
            </select>
          </div>
          <div class="form-group my-3 col-12">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored bg-secondary w-25">ثبت</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
<!-- content-End -->

