<section class="search_content">
  <div class="container-fluid">
    <div class="row">
      <h4 class="p-2 m-auto w-50 text-secondary">جستجو برای : <span>{{ query }}</span></h4>
        <div class="col-10 m-auto" *ngFor="let article of Articles">
          <div class="card my-4" *ngIf="article.submitted==true">
            <div class="card-header list-inline">
              <h6 class="list-inline-item ">{{article.title | uppercase}}</h6>
              <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored float-left"
                 routerLink="/article/{{article.id}}" >ادامه مطلب
                <i class="material-icons">keyboard_arrow_left</i>
              </a>
            </div>
            <div class="card-body">
              <article>
                <p class="card-text text-justify">
                  {{ article.desc | slice:0:30 }} ---
                </p>
                <a routerLink="/article/{{article.id}}"><img src="{{article.image}}"></a>
              </article>
            </div>
          </div>
        </div>


    </div>
  </div>
</section>
<!-- content-End -->
