<!-- content-Start -->
<div class="container">
  <section class="panel_content">
   <h5 class="panelTitle">لیست دسته بندیها</h5>
    <hr>
    <div class="row" *ngIf="loaded && categories?.length != 0">
      <div class="articleList">
        <form action="#" class="form-row bg-light p-3">
          <div class="form-group">
            <label for="search">جستجو</label>
            <input class="form-control" type="text" id="search" placeholder="عنوان دسته بندی را وارد کنید"
            name="keyword" [(ngModel)]="keyword">
          </div>
        </form>
        <div class="table-responsive my-4">
          <table class="table table-hover table-sm table-light" id="tbl_categories">
            <thead class="thead-inverse">
            <tr>
              <th style="width: 15%">ردیف</th>
              <th style="width: 20%">نام دسته</th>
              <th style="width: 20%">مادر دسته</th>
              <th style="width: 30%">عملیات</th>
            </tr>
            </thead>
            <tbody class="bg-light">
            <tr *ngFor="let category of categories | catSearch:keyword; let index= index">
              <td >{{ index+1 }}</td>
              <td>{{ category.name}}</td>
              <td>{{ category.get_parent['name'] }}</td>
              <td>
                <a routerLink="/dashboard/category/{{ category.id }}/edit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored bg-info">ویرایش</a>
                |
                <a (click)="delCat(category.id)" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored bg-danger">حذف</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>

    <div *ngIf="loaded && categories?.length == 0">
      <h5 class="alert alert-danger">موردي براي نمايش وجود ندارد!</h5>
    </div>
    <div *ngIf="! loaded">
      <p><i class="fa fa-spinner fa-spin"></i></p>
    </div>
  </section>
</div>

<!-- content-End -->
