/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

input.ng-invalid.ng-touched {
  border-color: orangered;
}
textarea.ng-invalid.ng-touched {
  border-color: orangered;
}
select.ng-invalid.ng-touched {
  border-color: orangered;
}

input#image {
  position: relative;
}

a#get_image_src {
  position: absolute;
  border-radius: 0;
  left: 6px;
  font-family: "Vazir" ;
  margin: 4px;
}

a#remove_image_src {
  position: absolute;
  left: 110px;
  width: auto;
  margin: 4px;
  border-radius: 0;
  font-family: "Vazir" ;
}

.formAdd .form-group {
  margin: 40px auto;
}

mat-select{
  border: 1px solid #ced4da;
  padding: 5px;
  margin-top: 16px;
}

span.mat-select-value-text {
  font-family: 'Vazir';
  font-size: 14px;
}

span.mat-option-text {
  font-family: vazir;
  font-size: 14px;
}


a.mdl-button{
  color: #eee !important;
}
button:disabled,
button[disabled] {
  cursor: not-allowed !important;
}

.errors {
  float: right;
  color: red;
  padding: 4px;
}


