form#edit-article{

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    margin: 16px 10%;
    width: 80%;
}

form#edit-article mat-form-field ,form#edit-article mat-select {
    font-family: 'Samim';

}

form#edit-article mat-form-field{
    width:40%;
    margin: 16px 2%;
}
form#edit-article div.form-group{
    width:40%;
    margin: 16px 2%;
}
form#edit-article button{
    width:90%;
    margin: 16px;
}
