<form ngForm class="col-md-12 my-5" dir="rtl" #editArticle id="edit-article">
  <mat-form-field>
    <input matInput [(ngModel)]="articletitle" name="article-title"
           value="{{article.title}}">
  </mat-form-field>
  <mat-form-field >
    <textarea matInput [(ngModel)]="articledesc" name="article-desc"
              maxlength="100" #tarea [value]="article.desc"></textarea>
    <mat-hint>{{tarea.value?.length || 0}}/40</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>وضعيت انتشار</mat-label>
    <mat-select name="article-submitted" [(ngModel)]="articlesubmitted">
      <mat-option value="false">---</mat-option>
      <mat-option value="true" >منتشر شده</mat-option>
      <mat-option value="false" >منتشر نشده</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="form-group">
    <label for="image">تصویر</label>
    <input class="form-control" type="file" id="image" name="article-image"
           [(ngModel)]="articleimage" value="{{article.image}}">
  </div>

  <div class="form-group">
    <button class="form-control" mat-flat-button color="accent" name="arc_submit"
            (click)="onSaveArticle(); editArticle.reset()">
      ویرایش <mat-icon class="mx-2">edit</mat-icon>
    </button>

  </div>

</form>
